body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: beige;
  /*border: 2px solid black;*/
}

.image {
  width: 50%;
  min-width: 300px;
  max-width: 650px;
  margin: 0 auto;
  align-items: right;
}

.image img {
  width: 100%;
}

.formulaire {
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
}

form {
  margin: 0 auto;
  width: 90%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

form > div {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

form textarea {
  margin-bottom: 1rem;
  border: 1px solid green;
}

form input {
  border: 1px solid green;
}

.submit {
  background-color: green;
  color: beige;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  padding: 5px 25px;
  margin: 0 auto;
}

.submit:hover {
  background-color: beige;
  color: green;
  border: 1px solid green;
  cursor: pointer;
}

select {
  border: 0;
  background-color: green;
  color: beige;
  padding: 5px 15px;
}
